<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Todo List Of Destiny</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <h1>Todo List Of Destiny YEAH</h1>
    </header>
    <main>
      <h1><%= todo.task %></h1>
      <p><%= todo.description %></p>
      <% if(todo.isComplete){ %>
      <p>Completed!</p>
      <% } else { %>
      <p>Not completed yet!</p>
      <% } %>

      <a href="/todos">Go back to all the todos</a>
      <a href="/todos/<%= todo.id %>/edit" >Edit the todo</p>
      </a>
    </main>
  </body>
</html>
