<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Super Title!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        min-height: 100vh;
        background: #bada55;
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= content %></p>
  </body>
</html>
